<div class="container mt-4 mb-4">
  <div class="col card card-body">
    <% if @resident.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <% @resident.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <%= form_for @resident, html: { class: "row g-3" } do |resident_form| %>
      <legend><%= t('.labels.resident_legend') %></legend>

      <div class="col-md-6">
        <label for="resident_full_name" class="form-label">
          <%= t('resident.full_name') + ':' %>
        </label>
        <%= resident_form.text_field :full_name, id: "resident_full_name", class: "form-control" %>
      </div>

      <div class="col-md-6">
        <label for="resident_cpf" class="form-label">
          <%= t('resident.cpf') + ':' %>
        </label>
        <%= resident_form.text_field :cpf, placeholder: "Ex: 000.000.000-00", id: "resident_cpf", class: "form-control" %>
      </div>

      <div class="col-md-6">
        <label for="resident_cns" class="form-label">
          <%= t('resident.cns') + ':' %>
        </label>
        <%= resident_form.text_field :cns, id: "resident_cns", class: "form-control" %>
      </div>

      <div class="col-md-6">
        <label for="resident_email" class="form-label">
          <%= t('resident.email') + ':' %>
        </label>
        <%= resident_form.email_field :email, id: "resident_cpf", class: "form-control" %>
      </div>

      <div class="col-md-6">
        <label for="resident_birth_date" class="form-label">
          <%= t('resident.birth_date') + ':' %>
        </label>
        <%= resident_form.date_field :birth_date, id: "resident_birth_date", class: "form-control" %>
      </div>

      <div class="col-md-6">
        <label for="resident_phone" class="form-label">
          <%= t('resident.phone') + ':' %>
        </label>
        <%= resident_form.text_field :phone, placeholder: "Ex: (DDD) 00000-0000", id: "resident_phone", class: "form-control" %>
      </div>

      <div class="col-12">
        <label for="resident_phone" class="form-label">
          <%= t('resident.picture') + ':' %>
        </label>
        <%= resident_form.file_field :picture, id: "resident_picture", value: @resident.picture, class: "form-control" %>
      </div>

      <div class="col-12">
        <% if @resident.picture.attached? %>
          <%= image_tag(@resident.picture, class: "img-thumbnail", style: "max-height: 300px; max-width: 300px;") %>
        <% end %>
      </div>

      <div class="col-2">
        <label for="resident_active" class="form-label">
          <%= t('resident.active') + ':' %>
        </label>
        <%= resident_form.check_box :active, id: "resident_active", class: "form-check-input", role: "switch" %>
      </div>

      <legend><%= t('.labels.address_legend') %></legend>

        <%= resident_form.fields_for :address do |address_form| %>

          <div class="col-12">
            <label for="resident_public_address" class="form-label">
              <%= t('address.public_address') + ':' %>
            </label>
            <%= address_form.text_field :public_address, id: "resident_public_address", class: "form-control" %>
          </div>

          <div class="col-3">
            <label for="resident_postal_code" class="form-label">
              <%= t('address.postal_code') + ':' %>
            </label>
            <%= address_form.text_field :postal_code, id: "resident_postal_code", class: "form-control" %>
          </div>

          <div class="col-3">
            <label for="resident_district" class="form-label">
              <%= t('address.district') + ':' %>
            </label>
            <%= address_form.text_field :district, id: "resident_district", class: "form-control" %>
          </div>

          <div class="col-3">
            <label for="resident_city" class="form-label">
              <%= t('address.city') + ':' %>
            </label>
            <%= address_form.text_field :city, id: "resident_city", class: "form-control" %>
          </div>

          <div class="col-3">
            <label for="resident_state_code" class="form-label">
              <%= t('address.state_code') + ':' %>
            </label>
            <%= address_form.text_field :state_code, id: "resident_state_code", class: "form-control" %>
          </div>

          <div class="col-8">
            <label for="resident_adjunct" class="form-label">
              <%= t('address.adjunct') + ':' %>
            </label>
            <%= address_form.text_field :adjunct, id: "resident_adjunct", class: "form-control" %>
          </div>

          <div class="col-4">
            <label for="resident_ibge_code" class="form-label">
              <%= t('address.ibge_code') + ':' %>
            </label>
            <%= address_form.text_field :ibge_code, id: "resident_ibge_code", class: "form-control" %>
          </div>

        <% end %>

        <div class="col-4 submit">
          <%= resident_form.submit request.path.include?('edit') ? t('.buttons.edit') : t('.buttons.create'), class: "btn btn-success" %>
          <%= link_to t('.buttons.cancel'), residents_path, class: "btn btn-danger" %>
        </div>

    <% end %>
  </div>
</div>
