<div class="container mt-4">
  <div class="col card card-body">
    <div class="row">
      <div class="col">
        <%= link_to t('.buttons.new'), new_resident_path, class: "btn btn-primary" %>

        <div class="btn-group" role="group">
          <%= link_to t('.buttons.all'), residents_path, :method => :get, class: "btn btn-info" %>
          <%= link_to t('.buttons.active_only'), residents_path(:active => true), :method => :get, class: "btn btn-info" %>
          <%= link_to t('.buttons.inactive_only'), residents_path(:active => false), :method => :get, class: "btn btn-info" %>
        </div>

        <div class="btn-group btn-group" role="group">
          <%= link_to t('english'), url_for(locale: :en), class: "btn btn-secondary" %>
          <%= link_to t('portuguese'), url_for(locale: :'pt-BR'), class: "btn btn-secondary" %>
        </div>
      </div>

      <div class="col">
        <%= form_tag residents_path, method: :get, class: "row g-3" do %>
          <div class="col">
            <%= text_field_tag :search_term, params[:search_term], class: "form-control", placeholder: "Buscar residente" %>
          </div>
          <div class="col-auto">
            <%= submit_tag t('.buttons.search'), class: "btn btn-primary mb-3" %>
          </div>
        <% end %>  
      </div>
    </div>

    <table class="table table-striped mt-2">
      <thead class="table-dark">
        <tr>
          <th scope="col">
            #
          </th>
          <th scope="col">
            <%= t('resident.full_name') %>
          </th>
          <th scope="col">
            <%= t('resident.phone') %>
          </th>
          <th scope="col">
            <%= t('address.district') %>
          </th>
          <th scope="col">
            <%= t('address.city') %>
          </th>
          <th scope="col">
            <%= t('address.state_code') %>
          </th>
          <th scope="col">
            Status
          </th>
          <th scope="col">
            <%= t('.labels.options') %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @residents.each do |resident| %>
        <% address = resident.address %>
        <tr>
          <td scope="row">
            <%= resident.id %>
          </td>
          <td>
            <%= resident.full_name %>
          </td>
          <td>
            <%= resident.phone %>
          </td>
          <td>
            <%= address.district %>
          </td>
          <td>
            <%= address.city %>
          </td>
          <td>
            <%= address.state_code %>
          </td>
          <td>
            <% if resident.active == true %>
              <span class="badge text-bg-success">
                <%= t('.labels.active') %>
              </span>
            <% else %>
              <span class="badge text-bg-danger">
                <%= t('.labels.inactive') %>
              </span>
            <% end %>
          </td>
          <td>
            <%= link_to t('.buttons.edit'), edit_resident_path(resident.id), class: "btn btn-warning" %>
            <%= link_to t('.buttons.show'), resident_path(resident.id), class: "btn btn-info" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @residents, theme: 'bootstrap-5' %>
  </div>
</div>
